* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_head {
    width: 100%;
    height: 100vh;
    background: #94C5D6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head {
    text-align: center;
}

#msg {
    padding: 1rem;
}
h1 {
    padding-bottom: 2rem;
}

#text {
    background: #9D9C8E;
    padding: .5rem;
    border: .5rem solid #315A74;
    margin-bottom: 1rem;
    border-radius: .5rem;
}

#btn {
    padding: .4rem 1rem;
    border: .2rem solid black;
    background: #EAE7CD;
    border-radius: .2rem;
    cursor: pointer;
    margin-top: 1rem;
}